
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100:#1F3A5F;
  --primary-200:#4d648d;
  --primary-300:#acc2ef;
  --accent-100:#3D5A80;
  --accent-200:#cee8ff;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#0F1C2E;
  --bg-200:#1f2b3e;
  --bg-300:#374357;
    
}


html{
  scroll-behavior:smooth;

}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

